/* .card {
  position: relative;
  height: 300px;
  width: 230px;
}

.boxshadow {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid rgb(0, 217, 255);
  transform: scale(0.8);
  box-shadow: rgb(0, 217, 255) 0px 30px 70px 0px;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main {
  width: 230px;
  height: 300px;
  overflow: hidden;
  background: rgb(0, 255, 149);
  background: linear-gradient(0deg, yellow 0%, rgb(0, 247, 255) 60%, rgb(255, 153, 0) 100%);
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 40px,
    100% calc(100% - 40px),
    calc(100% - 40px) 100%,
    40px 100%,
    0 calc(100% - 40px)
  );
  box-shadow: rgb(0, 132, 255) 0px 7px 29px 0px;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.top {
  position: absolute;
  top: 0px;
  left: 0;
  width: 0px;
  height: 0px;
  z-index: 1;
  border-top: 115px solid rgb(29, 27, 27);
  border-left: 115px solid transparent;
  border-right: 115px solid transparent;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.side {
  position: absolute;
  width: 100%;
  top: 0;
  transform: translateX(-50%);
  height: 101%;
  background: rgb(29, 27, 27);
  clip-path: polygon(0% 0%, 50% 0, 95% 45%, 100% 100%, 0% 100%);
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
}

.left {
  left: 0;
}

.right {
  right: 0;
  transform: translateX(50%) scale(-1, 1);
}

.profileImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
  border: 2px solid rgb(0, 217, 255);
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  font-weight: bold;
  font-size: 20px;
  color: rgb(65, 10, 10);
  opacity: 0;
  z-index: 1;
  transition: all 0.2s ease-out 0s;
  text-align: center;
  width: 90%;
}

.domain {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
  font-size: 14px;
  color: rgb(40, 4, 4);
  opacity: 0;
  z-index: 1;
  transition: all 0.2s ease-out 0s;
  text-align: center;
  width: 90%;
}

.button-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.button {
  position: absolute;
  transform: translateX(-50%);
  padding: 5px 10px;
  clip-path: polygon(0 0, 100% 0, 81% 100%, 21% 100%);
  background: black;
  border: none;
  color: rgb(0, 217, 255);
  display: grid;
  place-content: center;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  cursor: pointer;
}

.svg {
  width: 15px;
  transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.button:nth-child(1) {
  bottom: 300px;
  transition-delay: 0.4s;
}

.button:nth-child(2) {
  bottom: 300px;
  transition-delay: 0.6s;
}

.button:hover .svg {
  transform: scale(1.2);
}

.button:active .svg {
  transform: scale(0.7);
}

.card:hover .main {
  transform: scale(1.1);
}

.card:hover .main .top {
  top: -65px;
}

.card:hover .main .left {
  left: -50px;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s;
}

.card:hover .main .right {
  right: -50px;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s;
}

.card:hover .main .title,
.card:hover .main .domain {
  opacity: 1;
  transition: all 0.2s ease-out 1.3s;
}

.card:hover .main .button-container .button:nth-child(1) {
  bottom: 40px;
  transition-delay: 0.8s;
}

.card:hover .main .button-container .button:nth-child(2) {
  bottom: 0;
  transition-delay: 0.6s;
}

 */





/*  -- -  2 0 2 6  - - -  */


/* Container */
.parent {
  width: 300px;
  height: 380px;
  perspective: 1000px;
}

/* Card */
.card {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 45px;
  /* background: linear-gradient(5deg, rgba(211, 12, 211, 0.466) 0%, rgb(205, 146, 19) 100%); */
  background: rgba(29, 118, 167, 0.193); 
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(44px);

  transition: all 0.8s ease-in-out;
  transform-style: preserve-3d ;
  box-shadow:
    rgba(241, 44, 4, 0.141)-5px 0px 0px 0px,
    rgba(247, 3, 3, 0.455) 10px 15px 25px -2px;
}
.card:hover{
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  box-shadow: 0 20px 40px rgba(0, 255, 179, 0.486);
}
/* Glass layer */
.glass {
  position: absolute;
  inset: 8px;
  border-radius: 55px;
  border-top-right-radius: 100%;
  background: linear-gradient(
    25deg,
    rgba(89, 11, 144, 0.743) 0%,
    rgba(246, 166, 46, 0.68) 100%
  );
  transform: translateZ(20px);
  border-left: 1px solid rgba(6, 194, 236, 0.754);
  border-bottom: 1px solid rgba(6, 194, 236, 0.754);
  transition: all 1s ease-in-out;
}

/* Content */
.content {
  padding: 30px 30px 0;
  transform: translateZ(26px);
  text-align: center;
}

.name {
  display: block;
  color: #000000e3;
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 4px;
  opacity: 0;
  transform: translateY(-5px);
  transition: all 1s ease-in-out;
}

.designation {
  display: block;
  color: #000000b7;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 18px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s ease-in-out 0.1s;
}

/* Profile image */
.profileImage {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #838080fc;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  transform: translateZ(5px);
}
.parent:hover .profileImage{
  transform: translate3d(0, -5px, 60px) scale(1.05);
  box-shadow: 5px 15px 30px rgb(2, 0, 0);
  border: 4px solid #fcf9f9b3;
  transition: all 0.4s;
}
.profileImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Bottom social section */
.bottom {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  transform: translateZ(30px);
  opacity: 0;
  transition: opacity 0.4s ease-in-out 0.1s;
}

.socials {
  display: flex;
  gap: 15px;
  transform: translateY(20px);
  transition: transform 0.4s ease-in-out 0.2s;
}

.socialBtn {
  width: 40px;
  aspect-ratio: 1;
  background: rgba(249, 193, 51, 0.456);
  border-radius: 50%;
  border: none;
  display: grid;
  place-content: center;
  cursor: pointer;
  box-shadow: rgba(6, 6, 6, 0.679) 0px 7px 5px -5px;
  transition: all 0.2s ease-in-out;
}

.socialBtn svg {
  width: 20px;
  fill: #feffff;
}

.socialBtn:hover {
  background: rgba(0, 0, 0, 0.454);
}

.socialBtn:hover svg {
  fill: white;
}

/* Hover Effects */
/* .parent:hover .card { */
  /* transform: rotateX(50deg);
  transform: rotateY(10deg); */
  
  /* transform: scale(1) translate(10%, 0%); */
  /* box-shadow:
    rgba(5, 47, 71, 0.3) -30px 50px 25px -40px,
    rgba(5, 71, 17, 0.15) 0px 25px 30px 0px;
} */
/* Left cards (1st & 3rd & 5th) */
.parent:nth-child(1):hover .card,
.parent:nth-child(3):hover .card,
.parent:nth-child(5):hover .card {
  transform: rotate3d(-0.5, 0.5, -0.5, 15deg);
}

/* Middle card (2nd & 4th) */
.parent:nth-child(2):hover .card,
.parent:nth-child(4):hover .card {
  transform: rotate3d(-0.5, -0.5, 0.5, 15deg);
}

.parent:hover .name,
.parent:hover .designation {
  opacity: 1;
  transform: translateY(0);
}

.parent:hover .bottom {
  opacity: 1;
}

.parent:hover .socials {
  transform: translateY(0);
}






